.wrapper {
    display: flex;
    grid-gap: 10px;
}

.item {
    width: 10px;
    height: 10px;
    background: #b9b9b9;
    border-radius: 5px;
    margin-left: 10px;
    transition: .4s ease-in-out;
    box-shadow: 0 0 5px 0 transparent;
}

.active {
    background: rgb(7, 82, 220);
    box-shadow: 0 0 5px 0 rgb(7, 82, 220);
}