.wrapper {
    display: grid;
    grid-template: 50px auto / 70px calc(100% - 160px) 70px;
    grid-template-areas:
        'header header header'
        'cards cards cards';
    height: max-content;
    background: #f4f4f4;
    grid-gap: 0 10px;
    position: relative;
    top: 200px;
    opacity: 0;
    transition: .3s;
    z-index: 1;
}

.displayed {
    opacity: 1;
    top: 0;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #484848;
    padding: 10px 5%;
    box-sizing: border-box;
}

.header > p {
    margin: 0 30px 0 0;
}

.back,
.next {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgba(186, 186, 186, 0);
    transition: .2s;
    z-index: 2;
}

.back:hover,
.next:hover {
    background: rgb(223, 223, 223);
}

.back {
    grid-area: back;
}

.next {
    grid-area: next;
}

.cards {
    grid-area: cards;
    position: relative;
    width: 100%;
    padding: 0 15px 15px 15px;
    box-sizing: border-box;
    min-height: calc(100vh - 60px);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 20px;
}