.linkWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.linkLogo {
    width: 50px;
    height: 50px;
    filter: grayscale(1) brightness(1.4);
    transition: .2s;
    cursor: pointer;
}

.linkLogo:hover {
    filter: grayscale(0) brightness(1.2);
}