.cardWrapper {
    width: 100%;
    transition: .4s ease-in-out;
    /*position: absolute;*/
    left: 0;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 15px 1px lightgrey;
}

.card {
    cursor: pointer;
    display: grid;
    grid-template: repeat(4, auto) / 100%;
    grid-gap: 10px;
}

.header {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 30px;
    box-sizing: border-box;
    background: rgba(7, 73, 174, 0.64);
    color: white;
}

.otherInfoItem {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 10px;
}

.otherInfoItem:nth-child(odd) {
    background: rgba(7, 73, 174, 0.09);
}

.otherInfoItem > p:first-child {
    font-weight: 600;
}

.otherInfoItem > p:last-child {
    text-align: right;
}

/*
.inView {
    left: 0;
}

.left {
    left: -120%;
}

.right {
    left: 120%;
}*/
