.wrapper {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    padding: 5%;
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
    top: 0;
    opacity: 0;
    transition: opacity .3s;
    display: block;
}

.opened {
    opacity: 1;
}

.opened .card {
    transform: scale(1);
}

.card {
    width: 100%;
    height: 100%;
    background: #fff;
    transform: scale(.7);
    transition: .3s;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 100%;
    grid-gap: 10px;
    overflow-y: scroll;
}

.card > div:nth-child(odd) {
    background: rgba(7, 73, 174, 0.09);
}

.header {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    background: rgba(43, 104, 214, .83);
    color: #fff;
    position: sticky;
    top: 0;
    backdrop-filter: blur(2px);
}

.otherInfoItem {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    padding: 10px;
}

.otherInfoItem > p:first-child,
.otherInfoComplex > .title {
    font-weight: 600;
    font-size: 1.3rem;
}

.otherInfoItem > p:last-child {
    text-align: right;
}

.otherInfoComplex {
    display: flex;
    flex-direction: column;
}

.otherInfoComplex > .otherInfoItem {
    border-top: solid 2px lightgrey;
}