.findingResult {
    width: 100%;
    display: grid;
    grid-template: auto auto / 100%;
    grid-gap: 20px;
    /*background: #fff;*/
    padding: 20px 10px;
    box-sizing: border-box;
    opacity: 0;
    position: relative;
    top: 100px;
    transition: .3s;
    background: #f4f4f4;
}

.displayed {
    opacity: 1;
    top: 0;
}

.findingResult > header {
    padding: 0 5%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #494949;
}

.cards {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 20px;
    width: 100%;
    align-items: center;
}