.wrapper {
    width: 100%;
    height: min-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background: #fff !important;
}

.statusWrapper {
    opacity: 1;
    transition: .3s;
}

.statusWrapper.hidden {
    opacity: 0;
}

.statusWrapper > div {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transition: .3s;
}

.preloader {
    background: url("./../../preloader.svg");
    animation: preloader-spin .7s linear infinite;
}

.success {
    background: url("./../../swoosh.svg");
}

.fail {
    background: url("./../../cross.svg");
}

@keyframes preloader-spin {
    0%{transform: rotate(0)}
    100%{transform: rotate(360deg)}
}