.sidebar {
    display: grid;
    /*grid-template: min-content min-content / 1fr;*/
    grid-template: min-content / 15% 15%;
    justify-content: center;
    grid-gap: 30px;
    height: 100%;
    width: 100%;
    /*background: rgba(7, 71, 166, .85);*/
    box-shadow: 0 0 15px 5px lightgrey;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar a {
    padding: 10px 0;
    font-size: 1.3rem;
    color: rgb(7, 73, 174);
    /*border-radius: 10px;*/
    transition: .2s;
    display: flex;
    justify-content: center;
    background: white;
    width: 0;
    margin: 0 50%;
    border-bottom: solid 3px rgb(7, 73, 174);
    white-space: nowrap;
}

.sidebar a:hover {
    /*color: white;
    background: rgb(7, 73, 227);*/
    width: 100%;
    margin: 0;
}

a.active {
    color: white;
    width: 100%;
    margin: 0;
    background: rgb(7, 74, 175);
}