* {
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
}

.appWrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  /*grid-template: auto / 2fr 10fr;*/
  grid-template: min-content auto / 100%;
  padding: 0;
  margin: 0;
}

#root {
  overflow-x: hidden;
}