.image {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.form {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 15px;
    width: 30%;
}

.form input[type=file] {
    display: none;
}

.inactive {
    background-color: rgb(206, 206, 206);
    color: #636363;
}

.active {
    background-color: rgb(7, 76, 197);
    color: #fff;
}

.sendButton {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.formItem {
    border: none;
    /*border-radius: 10px;*/
    padding: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    transition: .2s;
}

.inputLabel {
    width: 100%;
    display: flex;
    white-space: nowrap;
    height: 100%;
    cursor: pointer;
    font-size: 1.3rem;
}

.input {
    transition: .2s;
    outline: none;
    border: none;
    width: 0;
    margin: 0 50%;
    font-size: 1.3rem;
    white-space: nowrap;
    border-bottom: solid 3px rgb(7, 73, 174);
}

.input:focus {
    width: calc(100% - 10px);
    margin: 0 0 0 10px;
    border-bottom-color: rgb(7, 73, 174) !important;
}

.input.opened {
    width: calc(100% - 10px);
    margin: 0 0 0 10px;
    border-bottom-color: lightgrey;
}

.formItem.active:hover {
    background: rgb(7, 62, 133);
}

.identifyFormWrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    grid-template-columns: 100%;
    justify-items: center;
    border-radius: 10px;
    /*background: #fff;*/
    padding: 15px;
}